
<footer class="footer">
        © 2022 The Land Cart - <span class="d-none d-sm-inline-block"> Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://webspacesolutions.co.in/" target="_blank">WSS</a></span>
</footer>

    