@import "../../public/lib/iconpicker/icon-picker-all.css";

.errorText{
    color: #dc3545;
    font-size: 14px;
    font-style: italic; 
}
.thumb-lg.img-thumbnail{
    height: 88px;
    width: 88px;
    cursor: pointer;
}
.icon-del{
    cursor: pointer;
    font-size: 13px;
}