<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Thank you for registering with us</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>We're glad to have you on The Land Cart. </p>
  <p>Please <a href={{vlink}}>verify</a> your email. </p>
  <p><i>If you are unable to click the link please verify your account from </i> <br>{{vlink}} </p>
</body>
</html>